<nav class="navbar">
    <!-- <a class="navbar-brand" href="index.html">
            FLU<span>FFY</span>
        </a> -->
    <div class="logo">
        <h3 id="art">BURJTECH</h3>
        <h3 id="scope">LIMITED</h3>
    </div>
    <div class="side-header">
        <li><a class="cool-link" href="/">Homepage</a></li>
        <li><a class="cool-link" href="/about">About</a></li>
        <li><a class="cool-link" href="/services">Services</a></li>
        <li><a class="cool-link" href="/contact">Contact</a></li>
    </div>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>