<!DOCTYPE html>
<html>

<head>
    <title>BURJTECH LIMITED</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7f0efd52ac.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" defer></script>
    <script src="/javascripts/app2.js" defer></script>
    <script src="/javascripts/app3.js" defer></script>
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <%- body %>

            <%- include('../partials/footer.ejs') %>
                <script src="/javascripts/app.js"></script>
                <script src="/javascripts/app4.js"></script>
                <script defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU-oJifZ2dSwMiWKhVCtEol_QqJTlwuAk&callback=initMap">
                    </script>
</body>

</html>