<section class="showcase-abt">
    <div class="overlay-3"></div>
    <div class="center-text">
        <h1>About Us</h1>
        <div class="navigator">
            <a href="/">HOME</a>
            <div id="divider"></div>
            <a id="cur" href="/about">ABOUT US</a>
        </div>
    </div>
</section>
<section class="showcase-7">
    <div class="container about-grid ">
        <div class="cutedog" style="background-image:url(images/photo-of-people-near-wooden-table-3184431.jpg);">
        </div>
        <div class="about-text ">
            <div class="section-wrap">
                <span class="top-text-1">About us</span>
                <h2 class="top-text-2"></h2>
                <p>BURJTECH LTD is uniquely created to solve the deficits in the construction industries. We realise
                    the rise of collapsed buildings, dilapidated and poorly maintained roads, bridges and the
                    nonchalant attitudes towards our public infrastructures in taking prompt action, prompt
                    maintenance plan to act on those problems and we came up with BURJ TECH, which is readily
                    available to meet the demands sing the latest technology to solve these issues before they arise
                    into full blown problem.</p>
                <p>One of out core strength is the need to be prompt, very prompts in solving these issues using
                    technology and sustainable materials. (Fees)

                    Our effort is to attend to emergency repairs, maintenance and construction services in Lagos and
                    Nigeria.</p>
                <p>BURJTECH LTD is included in different construction activities , such as, civil engineering
                    construction, building works for residential , commercial and industrial project services.
                    Our aim is to be involved in a Rapid Response projects, Road constructions, designs, repairs,
                    renovation, maintenance and general contractor.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="top-texts">
        <div class="tp-container">
            <span class="top-text-1">OUR MISSION</span>
            <h2 class="top-text-2">To deliver Prompt and sustainable infrastructures</h2>
        </div>
    </div>
    <div class="objectives">
        <h1>Objectives</h1>
        <ul>
            <li>To provide a prompt purpose construction and a prompt maintenance services</li>
            <li>To provide timely repairs for general contruction.</li>
        </ul>
    </div>
</section>
<section class="showcase-abt-2">
    <h1>Meet Our Team</h1>
    <span class="top-text-1">FOUNDERS</span>
    <div class="founders">
        <div class="founder" id="f-f">
            <h2>Mr. Oluwaniyi - Asaaju Israel</h2>
            <h3>Chief Executive Officer</h3>
            <img src="images/pexels-thirdman-6109288.jpg" alt="">
            <p>A distinguished businessman, with a keen interest for diverse of business. He started having his
                hands on business with the sales of gadgets while in his secondary school days some 16 years ago. A
                reputable graduate of Agricultural Engineering from Olabisi Onabanjo University,

                He is currently the owner of H N M Goshen Ventures, which deals with sales of cars, gadgets, wears
                and accessories.

                Mr Israel is a diligent and hardworking man, having worked and nurtured his business from zero Naira
                to 25 million in the span of 4 years.</p>
        </div>
        <div class="founder">
            <h2>Mr Oluwasegun Adedunye</h2>
            <h3> Chief Operation Manager</h3>
            <img src="images/pexels-thirdman-6109288.jpg" alt="">
            <p> A passionate idealist and Data analyst, a graduate of Geography and
                Planning from University of Lagos.
                He is an optimistic and resilient man that never gets tired of churning out solutions. He is also a
                business man who involves in sales of wears and accessories, sales of cars, real estate, Travel and
                Tourism.</p>
        </div>
    </div>
</section>
<section class="showcase-9">
    <span class="top-text-1">STAFF</span>
    <p>Olaogun Adefolake Elizabeth - Chief Engineer (Non- Executive )</p>
    <p>Abayomi Peter Olugbenga - Civil Engineer (Non- Executive)</p>
    <p>Adedunye Adebusola Elizabeth - Surveyor (Freelance)</p>
</section>
<section class="showcase-2" id="pad">
    <div class="container-2" id="jumbo-abt">
        <div class="img-2" style="background-image: url(images/blue-and-red-galaxy-artwork-1629236.jpg);">

        </div>
        <div class="jumbotron-2">
            <h1>Our Vision</h1>
            <p id="f-p">The purpose of this company is to meet up the deficits in construction industry bu acting
                promptly and swiftly, to repairs, maintenance reconstruction and construction of infrastructures.
            </p>
            <p>This company is envisioned to be one of the leading company in construction industry that would be
                able to finish projects at a very shorter time than it is expected.</p>
            <a class="link" href="/services">Visit Our work<i class="fas fa-chevron-right"></i></a>
        </div>

    </div>
</section>
<section class="showcase-3">
    <h1>Let's do more together</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
    <a class="getintouch" href="">GET IN TOUCH!</a>
</section>